$border-color: #00317f;

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid $border-color;
}
  
th, td {
  padding: 10px;
}
  
$blue-cell: #c6e4ff;

tbody {
  td {
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: $blue-cell;
  }
}

$green-cell: #bcffcf;

.header {
  background-color: $green-cell;
  text-transform: capitalize;
}

.sortIcon {
  margin-left: 2%;
}

.headerClick {
  cursor: pointer;
}